:root{
    --clr-accent-100: #181b1d;
    --clr-accent-200: #29363c;
    --clr-accent-300: #355260;
    --clr-accent-400: #3c6f89;
    --clr-accent-500: #3e8fb7;
    --clr-accent-600: #52a8d3;
    --clr-accent-700: #70bee6;
    --clr-accent-800: #92d3f3;

    --clr-neutral-light: #f0f0f0;
    --clr-neutral-dark: #181818;

    --fs-font-100: 16px;

    --fs-font-025: calc(var(--fs-font-100) * 0.25);
    --fs-font-050: calc(var(--fs-font-100) * 0.5);
    --fs-font-075: calc(var(--fs-font-100) * 0.75);
    --fs-font-125: calc(var(--fs-font-100) * 1.25);
    --fs-font-150: calc(var(--fs-font-100) * 1.5);
    --fs-font-175: calc(var(--fs-font-100) * 1.75);
    --fs-font-200: calc(var(--fs-font-100) * 2);
}
body{
    background-color: var(--clr-neutral-light);
    margin: 0;
    font-size: var(--fs-font-125);
    color: var(--clr-neutral-dark);
}
.list{
    display: flex;
}
.vertical{
    flex-direction: column;
}
article{
    margin: 1em;
    min-width: 300px;
    max-width: 600px;
    border: 2px solid var(--clr-neutral-dark);
    border-radius: 5px;
    header{
        background-size: cover;
        background-position: center center;
        min-height: 10em;
    }
}
.difficulties{
    margin: 0;
    list-style: none;
    font-size: var(--fs-font-100);
    padding: var(--fs-font-025);

    li{
        margin-top: 0.2em;
        overflow: hidden;
        background-color: var(--clr-neutral-light);
        color: var(--clr-neutral-dark);
        align-items: center;
        justify-content: left;
        border-radius: 1.2em;
        height: 1.2em;
        width: max-content;
        min-width: 1.2em;
        p{
            margin: 0;
            white-space: nowrap;
            padding: 0;
            width: 0;
            max-width: max-content;
            transition: 0.4s;
            transition-timing-function: ease-in-out;
        }

        svg{
            min-height: 1em;
            min-width: 1em;
            height: 1em;
            width: 1em;
            margin: 0.1em;
        }
    }
    li:hover{
        p{
            transition: 0.4s;
            transition-timing-function: ease-in-out;
            padding: 0 0.5em;
            width: 20em;
        }
    }
}
.mapsets{
    flex-wrap: wrap;
    justify-content: center;
}
.mode-icon{
    fill: var(--clr-accent-700);
    height: 2em;
    width: 2em;
}
.contained{
    max-width: 1500px;
    margin-left: clamp(2em, calc((100vw - 1500px) / 2), calc((100vw - 1500px) / 2));
}