@font-face {
    font-family: Exo2;
    src: url(./fonts/Exo2.0-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: Exo2;
    src: url(./fonts/Exo2.0-Bold.otf);
    font-weight: bold;
}

:root{
    --clr-accent-100: #181b1d;
    --clr-accent-200: #29363c;
    --clr-accent-300: #355260;
    --clr-accent-400: #3c6f89;
    --clr-accent-500: #3e8fb7;
    --clr-accent-600: #52a8d3;
    --clr-accent-700: #70bee6;
    --clr-accent-800: #92d3f3;

    --clr-neutral-light-1: #f0f0f0;
    --clr-neutral-light-2: #e0e0e0;
    --clr-neutral-dark: #181818;

    --sz-border-width-1: 3px;
    --sz-default-radius: 10px;
    --sz-mode-icon: 1.2em;
    --sz-mode-icon-margin: 0.1em;
    --sz-contained-width: 1500px;

    --fs-font-100: 16px;

    --fs-font-025: calc(var(--fs-font-100) * 0.25);
    --fs-font-050: calc(var(--fs-font-100) * 0.5);
    --fs-font-075: calc(var(--fs-font-100) * 0.75);
    --fs-font-125: calc(var(--fs-font-100) * 1.25);
    --fs-font-150: calc(var(--fs-font-100) * 1.5);
    --fs-font-175: calc(var(--fs-font-100) * 1.75);
    --fs-font-200: calc(var(--fs-font-100) * 2);
}
body{
    background-color: var(--clr-neutral-light-2);
    margin: 0;
    font-family: Exo2, sans-serif;
    font-size: var(--fs-font-125);
    color: var(--clr-neutral-dark);
}
.page-header{
    text-align: center;
    background-color: var(--clr-accent-700);

    h1{
        padding: calc(var(--fs-font-200) * 2) 0;
    }
    
}
.list{
    display: flex;
}
.vertical{
    flex-direction: column;
}
article{
    background-color: var(--clr-neutral-light-1);
    margin: 1em;
    width: min(98vw, calc(var(--sz-contained-width) / 5));
    border: var(--sz-border-width-1) solid var(--clr-neutral-dark);
    border-radius: var(--sz-default-radius);
    overflow: hidden;
    header{
        background-color: var(--clr-accent-400);
        background-size: cover;
        background-position: center center;
        min-height: 10em;
        border-bottom: 2px  solid var(--clr-neutral-dark);
    }
}
.difficulties{
    margin: 0;
    list-style: none;
    font-size: var(--fs-font-100);
    padding: var(--fs-font-025);
    
    li{
        margin-top: 0.2em;
        overflow: hidden;
        color: var(--clr-neutral-dark);
        background-color: var(--clr-neutral-light-1);
        align-items: center;
        justify-content: left;
        border-radius: calc(var(--sz-mode-icon) / 2 + var(--sz-mode-icon-margin));
        height: calc(var(--sz-mode-icon) + var(--sz-mode-icon-margin) * 2);
        width: max-content;
        min-width: calc(var(--sz-mode-icon) + var(--sz-mode-icon-margin) * 2);
        p{
            margin: 0;
            white-space: nowrap;
            padding: 0;
            width: 0;
            max-width: max-content;
            transition: 0.4s;
            transition-timing-function: ease-in-out;
        }

        svg{
            min-height: var(--sz-mode-icon);
            min-width: var(--sz-mode-icon);
            height: var(--sz-mode-icon);
            width: var(--sz-mode-icon);
            margin: var(--sz-mode-icon-margin);
        }
    }
    li:hover{
        p{
            transition: 0.4s;
            transition-timing-function: ease-in-out;
            padding: 0 0.5em;
            width: 20em;
        }
    }
}
.mapsets{
    flex-wrap: wrap;
    justify-content: center;
}
.mode-icon{
    fill: var(--clr-accent-700);
    height: 2em;
    width: 2em;
}
.contained{
    max-width: var(--sz-contained-width);
    margin: 0 max(calc((100vw - var(--sz-contained-width)) / 2), 1em);
}